<aside id="sidebar-secondary">
  <button type="button" class="sidebar-close">
  	<span>Close Sidebar</span>
  </button>

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      <button class="icon ms-n2" id="sidebar-back">
        <i class="ph ph-arrow-left fs-4"></i>
        <span class="visually-hidden">Back</span>
      </button>

      <h2 class="sidebar-title">Calendar</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-plus"></i>
        Create Event
      </button>
    </div>

    <div id="calendar-navigate" class="mb-4 mt-n3 ms-n3"></div>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Current Events</div>

    <div id="calendar-events" class="mx-n2"></div>
  </div>
</aside>
