<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-4">
			<h5 class="m-0 align-items-center card-title d-flex flex-grow-1 gap-3">
				<div class="avatar avatar-md text-danger bg-danger d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="fs-4 ph ph-app-window"></i>
				</div>
				Browser Bounce Rate
			</h5>

			<div class="d-flex mt-n2 me-n2">
				<a class="icon ph ph-info" href=""></a>
			</div>
		</div>

		<div id="list-browser-rate"></div>
	</div>
</div>
