<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-6">
			<h5 class="m-0 align-items-center card-title d-flex flex-grow-1 gap-3">
				<div class="avatar avatar-md text-danger bg-danger d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="fs-4 ph ph-barbell"></i>
				</div>
				Engagements
			</h5>

			<div class="d-flex mt-n2 me-n2">
				<a class="icon ph ph-info" href=""></a>
			</div>
		</div>

		<div class="d-flex align-items-center border-bottom py-3">
			<div class="flex-grow-1">
				<h4 class="fs-4 m-0 mb-1 text-body-emphasis">4.970</h4>
				<div class="text-body-secondary">Daily page views per visitor</div>
			</div>
			<div class="d-flex align-items-center rounded bg-success text-success fw-medium py-2 px-3 fs-5" style="--bs-bg-opacity: 0.1">
				2.5%
				<i class="ph ph-trend-up fs-5 ms-2"></i>
			</div>
		</div>

		<div class="d-flex align-items-center border-bottom py-3">
			<div class="flex-grow-1">
				<h4 class="fs-4 m-0 mb-1 text-body-emphasis">8.375</h4>
				<div class="text-body-secondary">Daily page views per visitor</div>
			</div>
			<div class="d-flex align-items-center rounded bg-danger text-danger fw-medium py-2 px-3 fs-5" style="--bs-bg-opacity: 0.1">
				3.2%
				<i class="ph ph-trend-up fs-5 ms-2"></i>
			</div>
		</div>

		<div class="d-flex align-items-center pt-3">
			<div class="flex-grow-1">
				<h4 class="fs-4 m-0 mb-1 text-body-emphasis">65.3%</h4>
				<div class="text-body-secondary">Average bounce rate</div>
			</div>
			<div class="d-flex align-items-center rounded bg-warning text-warning fw-medium py-2 px-3 fs-5" style="--bs-bg-opacity: 0.1">
				0.1%
				<i class="ph ph-trend-up fs-5 ms-2"></i>
			</div>
		</div>
	</div>
</div>
