<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-6">
			<h5 class="card-title m-0 d-flex align-items-center gap-3 flex-grow-1">
				<div class="avatar avatar-md text-success bg-success" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-hand-tap fs-4"></i>
				</div>

				Visits by Source
			</h5>

			<div class="d-flex mt-n2 me-n2">
				<a class="icon ph ph-info" href=""></a>
			</div>
		</div>

		<div class="chart mb-7">
			<canvas id="chart-visits-source"></canvas>
			<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center flex-column">
				<div class="fs-3 text-body-emphasis fw-medium">781K</div>
				<div class="text-body-secondary">Total Sessions</div>
			</div>
		</div>

		<div id="list-visits-source"></div>
	</div>
</div>
