<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-purple bg-purple d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-currency-circle-dollar fs-4"></i>
				</div>

				Opportunities
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="d-flex justify-content-between align-items-center text-body-secondary fs-7 h-10 rounded px-3">
			<div class="flex-grow-1">Employee Name</div>
			<div class="w-20 text-end d-none d-sm-block">Qualified</div>
			<div class="w-10 w-sm-20 text-end flex-shrink-0">Won</div>
			<div class="w-20 text-end flex-shrink-0 ms-sm-2">Value</div>
		</div>
		<div id="list-opportunities"></div>
	</div>
</div>
