<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4 lh-1">
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-info bg-info d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-calendar-check fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-info">32</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						2.32%
					</div>
				</div>
				Appointments
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-primary bg-primary d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-user-circle-plus fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-primary">324</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						8.07%
					</div>
				</div>
				New leads today
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-success bg-success d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-handshake fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-success">98</div>

					<div
						class="badge bg-danger rounded-pill fs-8 ms-auto text-danger-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						5.32%
					</div>
				</div>
				Opened Deals
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-danger bg-danger d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-lifebuoy fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-danger">452</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						33.47%
					</div>
				</div>
				Support Requests
			</div>
		</div>
	</div>
</div>
