<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title mb-0 flex-grow-1">Recent Orders</h5>

			<div class="fs-7 text-success align-items-center me-3 d-none d-sm-flex">
				<i class="ph ph-arrow-circle-up fs-4 me-1"></i>
				24.99%
			</div>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
				<a href="" class="icon ph ph-app-window"></a>
			</div>
		</div>

		<div class="d-flex justify-content-between align-items-center text-body-secondary fs-7 h-10 border-bottom">
			<div class="w-20 flex-shrink-0">Order No.</div>
			<div class="w-20 flex-shrink-0 d-none d-sm-block">Date</div>
			<div class="w-16 flex-shrink-0">Status</div>
			<div class="w-16 flex-shrink-0 d-none d-xxl-block">Delivery</div>
			<div class="w-20 flex-shrink-0">Amount</div>
		</div>

		<div id="recent-orders" class="mb-n4"></div>
	</div>
</div>
