<div class="header">
  <button type="button" class="sidebar-toggle icon d-none d-sm-flex d-xl-none">
  	<svg class="pe-none" width="15" height="12" viewBox="0 0 16 13" fill="none">
  		<path d="M1 1H15M1 6.25H10.5455M1 11.5H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  	</svg>
  	<span class="visually-hidden">Open Sidebar</span>
  </button>

  <div class="search-field search-field-kbd">
    <i class="ph ph-magnifying-glass fs-5"></i>
    <input type="text" class="form-control" placeholder="Search Messages..." />
  </div>

  <i class="ms-auto"></i>

  <button
    type="button"
    class="icon-link d-none d-sm-flex"
    data-bs-toggle="modal"
    data-bs-target="#channelDetails"
  >
    General
    <i class="ph ph-caret-down fs-8"></i>
  </button>

  <div class="d-none d-md-flex gap-0.5 align-items-center border border-400 rounded-2 p-1">
    <img class="avatar avatar-xs" src="./img/contacts/1.jpg" alt="" />
    <img class="avatar avatar-xs" src="./img/contacts/2.jpg" alt="" />
    <img class="avatar avatar-xs" src="./img/contacts/3.jpg" alt="" />
    <img class="avatar avatar-xs" src="./img/contacts/4.jpg" alt="" />
    <img class="avatar avatar-xs" src="./img/contacts/5.jpg" alt="" />
    <span class="fs-8 text-body-emphasis mx-2 fw-medium">42</span>
  </div>

  <div class="d-flex me-3 gap-1.5">
    <a
      href=""
      class="icon ph ph-info d-sm-none"
      data-bs-toggle="modal"
      data-bs-target="#channelDetails"
    ></a>
    <a href="" class="icon ph ph-dots-three-circle"></a>
  </div>
</div>
