<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-teal bg-teal d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-phone fs-4"></i>
				</div>

				Outbound Calls
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="chart mb-md-5">
			<canvas id="chart-outbound-calls"></canvas>
		</div>

		<ul class="chart-legends">
			<li>
				<i class="bg-teal"></i>
				Current week
			</li>
			<li>
				<i class="bg-teal" style="--bs-bg-opacity: 0.25"></i>
				Last week
			</li>
		</ul>
	</div>
</div>
