<!-- Channel detail modal -->
<div class="modal fade" id="channelDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header p-0">
				<ul class="nav nav-pills nav-scroll p-5" id="channel-details" role="tablist">
					<li class="nav-item" role="presentation">
						<button
							class="nav-link active"
							id="cd-about"
							data-bs-toggle="tab"
							data-bs-target="#cd-about-pane"
							type="button"
							role="tab"
							aria-controls="cd-about-pane"
							aria-selected="true"
						>
							About
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="cd-members"
							data-bs-toggle="tab"
							data-bs-target="#cd-members-pane"
							type="button"
							role="tab"
							aria-controls="cd-members-pane"
							aria-selected="false"
						>
							Members
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="cd-files"
							data-bs-toggle="tab"
							data-bs-target="#cd-files-pane"
							type="button"
							role="tab"
							aria-controls="cd-files-pane"
							aria-selected="false"
						>
							Files
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="cd-pref"
							data-bs-toggle="tab"
							data-bs-target="#cd-pref-pane"
							type="button"
							role="tab"
							aria-controls="cd-pref-pane"
							aria-selected="false"
						>
							Preferences
						</button>
					</li>
				</ul>

				<button type="button" class="btn-close ms-auto me-4" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body pt-0">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="cd-about-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
						<div class="border-bottom pb-4 mb-4">
							<div class="fs-7 text-body-secondary mb-2 d-flex align-items-center">
								Channel Name

								<button type="button" class="ms-auto link-primary">Edit</button>
							</div>
							General
						</div>
						<div class="border-bottom pb-4 mb-4">
							<div class="fs-7 text-body-secondary mb-2 d-flex align-items-center">
								Channel Name

								<button type="button" class="ms-auto link-primary">Edit</button>
							</div>
							Pariatur culpa ex ea ipsum irure. Sint labore aliqua sunt nulla aliqua laborum qui adipisicing laborum cupidatat. Aute consequat
							duis sunt anim aliqua esse reprehenderit do pariatur Lorem ullamco excepteur. Ea tempor ut anim proident voluptate proident nostrud
							ullamco. Laboris esse velit aliqua in culpa Lorem ut fugiat aliqua excepteur in exercitation velit consectetur.
						</div>
						<div class="mb-8">
							<div class="fs-7 text-body-secondary mb-2">Created by</div>
							Malinda Hollaway on 23/10/2020
						</div>

						<button type="button" class="btn btn-danger w-100">Leave Channel</button>
					</div>

					<div class="tab-pane fade" id="cd-members-pane" role="tabpanel" aria-labelledby="members-tab" tabindex="0">
						<div class="search-field mb-3">
							<i class="ph ph-magnifying-glass"></i>
							<input type="text" class="form-control" placeholder="Search members..." />
						</div>

						<div class="mx-n2">
							<button type="button" class="w-100 d-flex align-items-center py-2 px-3 rounded bg-hover gap-3">
								<i class="avatar avatar-sm ph ph-plus"></i>
								<div class="text-body-secondary fs-7">Add Member</div>
							</button>

							<div id="channel-members"></div>
						</div>
					</div>

					<div class="tab-pane fade" id="cd-files-pane" role="tabpanel" aria-labelledby="files-tab" tabindex="0">
						<div class="search-field mb-3">
							<i class="ph ph-magnifying-glass"></i>
							<input type="text" class="form-control" placeholder="Search files..." />
						</div>

						<div class="mx-n2">
							<button type="button" class="w-100 d-flex align-items-center py-2 px-3 rounded bg-hover gap-3">
								<i class="avatar avatar-md ph ph-plus"></i>
								<div class="text-body-secondary fs-7">Add Files</div>
							</button>

							<div id="channel-files"></div>
						</div>
					</div>

					<div class="tab-pane fade" id="cd-pref-pane" role="tabpanel" aria-labelledby="preferences-tab" tabindex="0">
						<div>
							<div class="hstack gap-3 border-bottom pb-4 mb-4">
								<div class="flex-grow-1">
									<div class="text-body-emphasis mb-1">New Members</div>
									<div class="fs-7 text-body-secondary">Allow new members to join without invitation</div>
								</div>

								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="switch-new-members" />
									<label class="form-check-label" for="switch-new-members"></label>
								</div>
							</div>
							<div class="hstack gap-3 border-bottom pb-4 mb-4">
								<div class="flex-grow-1">
									<div class="text-body-emphasis mb-1">Clipboard</div>
									<div class="fs-7 text-body-secondary">Allow members to copy contents</div>
								</div>

								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="switch-clipboard" />
									<label class="form-check-label" for="switch-clipboard"></label>
								</div>
							</div>
							<div class="hstack gap-3 border-bottom pb-4 mb-4">
								<div class="flex-grow-1">
									<div class="text-body-emphasis mb-1">Voice Calls</div>
									<div class="fs-7 text-body-secondary">Allow members to make voice calls</div>
								</div>

								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="switch-voice-calls" />
									<label class="form-check-label" for="switch-voice-calls"></label>
								</div>
							</div>
							<div class="hstack gap-3 border-bottom pb-4 mb-4">
								<div class="flex-grow-1">
									<div class="text-body-emphasis mb-1">Video Calls</div>
									<div class="fs-7 text-body-secondary">Allow members to make video calls</div>
								</div>

								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="switch-video-calls" />
									<label class="form-check-label" for="switch-video-calls"></label>
								</div>
							</div>
							<div class="hstack gap-3 border-bottom pb-4 mb-4">
								<div class="text-body-emphasis flex-grow-1">Copy member names</div>

								<button type="button" class="icon ph ph-clipboard-text">
									<span class="visually-hidden">Copy</span>
								</button>
							</div>
							<div class="hstack gap-3 mb-8">
								<div class="text-body-emphasis flex-grow-1">Copy member email addresses</div>

								<button type="button" class="icon ph ph-clipboard-text">
									<span class="visually-hidden">Copy</span>
								</button>
							</div>

							<button type="button" class="btn btn-danger w-100">Archive channel for everyone</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
