<aside id="sidebar-secondary">
  {{> _sidebar-close }}

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      {{> _sidebar-back}}

      <h2 class="sidebar-title">Messages</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-chat-centered-text"></i>
        New Message
      </button>
    </div>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Channels</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="ph ph-rss"></i>General</a
      >
      <a class="nav-link mb-1" href="#"
        ><i class="ph ph-rss"></i>Art and Design</a
      >
      <a class="nav-link" href="#"><i class="ph ph-rss"></i>Technology</a>
      <a class="nav-link" href="#"><i class="ph ph-rss"></i>Announcements</a>
      <a class="nav-link" href="#"><i class="ph ph-rss"></i>Product Releases</a>
    </nav>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Direct Messages</div>

    <nav id="direct-messages" class="nav nav-pills nav-pills-sidebar"></nav>
  </div>
</aside>
