<div class="hstack gap-4 mb-5">
  <img class="avatar" src="./img/contacts/2.jpg" alt="" />
  <div class="flex-grow-1">
    <div class="text-body-emphasis">Malinda Hollaway</div>
    <div class="fs-7 text-body-secondary"></div>
  </div>
  <div class="dropdown align-self-start">
    <button
      class="icon ph ph-dots-three-circle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">More</span>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
      <a class="dropdown-item" href="#"> <i class="ph ph-warning-octagon"></i>Report</a>
      <a class="dropdown-item" href="#"><i class="ph ph-eye-closed"></i>Hide</a>
      <a class="dropdown-item" href="#"><i class="ph ph-share"></i>Share</a>
    </div>
  </div>
</div>
