<div class="d-flex mb-5 rounded-pill border border-theme-300 overflow-hidden">
	<button type="button" class="h-10 d-flex align-items-center justify-content-center flex-grow-1 bg-hover">
		<i class="ph ph-thumbs-up me-2 fs-4"></i>Like
	</button>
	<button type="button" class="h-10 d-flex align-items-center justify-content-center flex-grow-1 border-start bg-hover">
		<i class="ph ph-chat-centered-text me-2 fs-4"></i>Comment
	</button>
	<button type="button" class="h-10 d-flex align-items-center justify-content-center flex-grow-1 border-start bg-hover">
		<i class="ph ph-export me-2 fs-4"></i>Share
	</button>
</div>
