<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-warning bg-warning d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-gauge fs-4"></i>
				</div>

				Campaign Performance
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="d-flex justify-content-between align-items-center text-body-secondary fs-7 h-10 rounded px-3">
			<div class="flex-grow-1">Campaign</div>
			<div class="w-20 text-end d-none d-sm-block">Clicks</div>
			<div class="w-16 w-sm-20 text-end flex-shrink-0 ms-sm-2">Conversions</div>
			<div class="w-20 text-end flex-shrink-0 ms-sm-2">Revenue</div>
		</div>
		<div id="list-campaign-performance"></div>
	</div>
</div>
