<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-teal bg-teal d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-envelope-open fs-4"></i>
				</div>

				Delivered vs Open
			</h5>

			<div class="d-flex gap-px mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
				<a href="" class="icon ph ph-download-simple d-none d-sm-flex"></a>
				<a href="" class="icon ph ph-printer d-none d-sm-flex"></a>
			</div>
		</div>

		<div class="chart mb-5">
			<canvas id="chart-delivered-vs-open"></canvas>
		</div>

		<ul class="chart-legends">
			<li>
				<i class="bg-teal"></i>
				Opened
			</li>
			<li>
				<i class="bg-teal" style="--bs-bg-opacity: 0.25"></i>
				Delivered
			</li>
		</ul>
	</div>
</div>
