<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-8">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-info bg-info d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-devices fs-4"></i>
				</div>

				Open Rate by Device
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div id="list-open-rate-by-device"></div>

		<ul class="chart-legends">
			<li>
				<i class="bg-info"></i>
				Desktop
			</li>
			<li>
				<i class="bg-purple"></i>
				Mobile
			</li>
			<li>
				<i class="bg-warning"></i>
				Tablet
			</li>
		</ul>
	</div>
</div>
