<div class="header">
  <button type="button" class="sidebar-toggle icon d-none d-sm-flex d-xl-none">
  	<svg class="pe-none" width="15" height="12" viewBox="0 0 16 13" fill="none">
  		<path d="M1 1H15M1 6.25H10.5455M1 11.5H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  	</svg>
  	<span class="visually-hidden">Open Sidebar</span>
  </button>

  <div id="header-default" class="align-items-center gap-4 flex-grow-1">
    <div class="search-field search-field-kbd">
      <i class="ph ph-magnifying-glass fs-5"></i>
      <input type="text" class="form-control" placeholder="Search Mail..." />
    </div>

    <i class="ms-auto"></i>

    <nav class="d-flex gap-2 me-2">
      <button
        type="button"
        class="icon ph ph-arrow-clockwise d-none d-sm-inline-flex"
      >
        <span class="visually-hidden">Reload</span>
      </button>
      <button type="button" class="icon ph ph-sort-ascending">
        <span class="visually-hidden">Sort</span>
      </button>
      <button type="button" class="icon ph ph-clock d-none d-sm-inline-flex">
        <span class="visually-hidden">Schedule</span>
      </button>
      <button type="button" class="icon ph ph-info d-none d-sm-inline-flex">
        <span class="visually-hidden">Info</span>
      </button>
      <button type="button" class="icon ph ph-dots-three-circle">
        <span class="visually-hidden">more</span>
      </button>
    </nav>
  </div>

  <div id="header-actions" class="flex-grow-1 align-items-center gap-2">
    <div class="ms-8 d-none d-xl-block">
      <div class="check-all form-check d-none d-sm-block ms-npx">
        <input class="form-check-input" type="checkbox" id="check-all-input" />
        <label class="form-check-label" for="check-all-input"></label>
      </div>
    </div>

    <div id="header-action-count" class="ps-8 ps-xl-0"></div>

    <i class="ms-auto"></i>

    <button type="button" class="icon ph ph-archive">
      <span class="visually-hidden">Archive</span>
    </button>
    <button type="button" class="icon ph ph-warning-octagon">
      <span class="visually-hidden">Spam</span>
    </button>
    <button type="button" class="icon ph ph-trash">
      <span class="visually-hidden">Delete</span>
    </button>

    <div class="vr opacity-25 my-2 mx-2 d-none d-md-inline-flex"></div>

    <button
      type="button"
      class="icon ph ph-envelope-simple-open d-none d-sm-inline-flex"
    >
      <span class="visually-hidden">Mark as unread</span>
    </button>
    <button type="button" class="icon ph ph-clock d-none d-md-inline-flex">
      <span class="visually-hidden">Schedule</span>
    </button>
    <button
      type="button"
      class="icon ph ph-check-square-offset d-none d-md-inline-flex"
    >
      <span class="visually-hidden">Add to task</span>
    </button>

    <div class="vr opacity-25 my-2 mx-2 d-none d-md-inline-flex"></div>

    <button
      type="button"
      class="icon ph ph-tag-chevron d-none d-md-inline-flex"
    >
      <span class="visually-hidden">Add label</span>
    </button>
    <button type="button" class="icon ph ph-dots-three-circle">
      <span class="visually-hidden">More</span>
    </button>

    <div class="vr opacity-25 my-2 mx-2"></div>

    <button type="button" class="header-action-close icon ph ph-x me-1">
      <span class="visually-hidden">Close</span>
    </button>
  </div>

  <div
    id="header-actions-preview"
    class="align-items-center gap-2 pe-2 flex-grow-1"
  >
    <button
      type="button"
      class="header-action-close icon ph ph-arrow-left me-3"
    >
      <span class="visually-hidden"> Go back</span>
    </button>

    <h2 class="fw-medium fs-5 m-0 text-body-emphasis d-none d-xl-block">
      Re: Maecenas sed diam eget risus varius blandit
    </h2>

    <i class="ms-auto"></i>

    <button type="button" class="icon ph ph-archive">
      <span class="visually-hidden">Archive</span>
    </button>
    <button type="button" class="icon ph ph-warning-octagon">
      <span class="visually-hidden">Spam</span>
    </button>
    <button type="button" class="icon ph ph-trash">
      <span class="visually-hidden">Delete</span>
    </button>

    <div class="vr opacity-25 my-2 mx-2 d-none d-md-inline-flex"></div>

    <button
      type="button"
      class="icon ph ph-envelope-simple-open d-none d-sm-inline-flex"
    >
      <span class="visually-hidden">Mark as unread</span>
    </button>
    <button type="button" class="icon ph ph-clock d-none d-md-inline-flex">
      <span class="visually-hidden">Schedule</span>
    </button>
    <button
      type="button"
      class="icon ph ph-check-square-offset d-none d-md-inline-flex"
    >
      <span class="visually-hidden">Add to task</span>
    </button>

    <div class="vr opacity-25 my-2 mx-2 d-none d-md-inline-flex"></div>

    <button
      type="button"
      class="icon ph ph-tag-chevron d-none d-md-inline-flex"
    >
      <span class="visually-hidden">Add label</span>
    </button>
    <button type="button" class="icon ph ph-dots-three-circle">
      <span class="visually-hidden">More</span>
    </button>
  </div>
</div>
