<div id="list-row-preview" class="cardd">
  <h2 class="fw-medium fs-5 mb-3 px-2 text-body-emphasis d-xl-none">
    Re: Maecenas sed diam eget risus varius blandit
  </h2>

  <div class="card mb-3 p-5">
    <div class="d-flex align-items-start gap-4 mb-5">
      <img src="./img/contacts/14.jpg" class="avatar" alt="" />

      <div class="flex-grow-1">
        <div class="mb-0.5">
          <span class="text-body-emphasis fw-medium">Martha Buchanan</span>
          <span class="fs-7 text-body-secondary ms-1 d-none d-sm-inline-block"
            >&lt;martha@linearadmin.la&gt;</span
          >
        </div>
        <div class="fs-7 text-body-secondary">To: Malinda Hollaway</div>
      </div>

      <div class="ms-auto d-flex align-items-center flex-shrink-0 mt-n1 me-n1">
        <div class="fs-7 text-body-secondary me-2">10:10</div>
        <button type="button" class="icon ph ph-dots-three-circle">
          <span class="visually-hidden">more</span>
        </button>
      </div>
    </div>

    <div class="ps-sm-14">
      <div class="mb-5">
        <p>Hi there!</p>
        <p>
          Ad quis veniam ullamco et id cillum esse ut. Labore non nisi fugiat occaecat qui ex est.
          Consequat magna minim cillum aute ut ipsum id occaecat nulla deserunt esse sunt.
        </p>

        <p>
          Nostrud officia magna sint dolor quis. Mollit tempor adipisicing dolor ad exercitation
          aliqua Lorem. Dolor culpa irure culpa exercitation duis labore incididunt anim. Laborum ad
          incididunt consequat sit nulla sit id nostrud adipisicing mollit magna do ullamco. Cillum
          aliquip culpa consectetur reprehenderit aliquip laborum enim ut sint magna eiusmod.
        </p>
      </div>

      <div class="d-flex align-items-start mt-8 mb-2 flex-wrap gap-3 position-relative">
        <a
          href=""
          class="border bg-hover rounded-3 text-body-emphasis p-3 d-flex align-items-start lh-1"
        >
          <i class="ph ph-download me-2"></i>
          <div class="flex-grow-1">
            <div class="fs-7 mb-1 fw-medium">lead-decemeber.csv</div>
            <div class="fs-8 text-body-secondary">1.2 mb</div>
          </div>
        </a>

        <a
          href=""
          class="border bg-hover rounded-3 text-body-emphasis p-3 d-flex align-items-start lh-1"
        >
          <i class="ph ph-download me-2"></i>
          <div class="flex-grow-1">
            <div class="fs-7 mb-1 fw-medium">screenshot.png</div>
            <div class="fs-8 text-body-secondary">787 kb</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="card mb-3 p-5">
    <div class="d-flex align-items-start gap-4 mb-5">
      <img src="./img/contacts/2.jpg" class="avatar" alt="" />

      <div class="flex-grow-1">
        <div class="mb-0.5">
          <span class="text-body-emphasis fw-medium">Malinda Hollaway</span>
          <span class="fs-7 text-body-secondary ms-1 d-none d-sm-inline-block"
            >&lt;malinda-h@maed.ba&gt;</span
          >
        </div>
        <div class="fs-7 text-body-secondary">To: Malinda Hollaway</div>
      </div>

      <div class="ms-auto d-flex align-items-center flex-shrink-0 mt-n1 me-n1">
        <div class="fs-7 text-body-secondary me-2">10:30</div>
        <button type="button" class="icon ph ph-dots-three-circle">
          <span class="visually-hidden">more</span>
        </button>
      </div>
    </div>

    <div class="ps-sm-14">
      <p class="m-0">
        Deserunt excepteur ad amet cillum mollit et ex sit voluptate. Consequat voluptate excepteur
        esse dolore sunt tempor cupidatat voluptate voluptate mollit. Mollit occaecat consectetur
        deserunt culpa minim mollit consectetur Lorem. Ex ad fugiat duis consectetur fugiat anim
        commodo qui. Veniam officia ex anim ut ex et cupidatat proident sit tempor. Lorem ipsum
        proident eu duis.
      </p>
    </div>
  </div>

  <div class="card mb-3 p-5">
    <div class="d-flex align-items-start gap-4 mb-5">
      <img src="./img/contacts/14.jpg" class="avatar" alt="" />

      <div class="flex-grow-1">
        <div class="mb-0.5">
          <span class="text-body-emphasis fw-medium">Martha Buchanan</span>
          <span class="fs-7 text-body-secondary ms-1 d-none d-sm-inline-block"
            >&lt;martha@linearadmin.la&gt;</span
          >
        </div>
        <div class="fs-7 text-body-secondary">To: Malinda Hollaway</div>
      </div>

      <div class="ms-auto d-flex align-items-center flex-shrink-0 mt-n1 me-n1">
        <div class="fs-7 text-body-secondary me-2">10:45</div>
        <button type="button" class="icon ph ph-dots-three-circle">
          <span class="visually-hidden">more</span>
        </button>
      </div>
    </div>

    <div class="ps-sm-14">
      <div class="mb-5">
        <p>Tempor occaecat in elit id ut qui esse enim eiusmod nostrud.</p>

        <p>
          Commodo consequat sint eiusmod deserunt pariatur nostrud consectetur. Consequat do amet
          tempor id ex magna. Aliqua culpa nisi Lorem incididunt nulla. Laborum excepteur ad labore
          labore proident qui do eiusmod enim est dolore aliquip Lorem. Et esse adipisicing id id
          dolor sint nisi deserunt Lorem ea et officia mollit commodo. Tempor est deserunt qui
          eiusmod qui. Eu ipsum anim ut do cillum ullamco dolor eiusmod velit.
        </p>
      </div>

      <div class="d-flex align-items-start mt-8 flex-wrap gap-3 position-relative">
        <a
          href=""
          class="border bg-hover rounded-3 text-body-emphasis p-3 d-flex align-items-start lh-1"
        >
          <div class="flex-grow-1">
            <div class="fs-7 mb-1 fw-medium">summary.txt</div>
            <div class="fs-8 text-body-secondary">983 kb</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="hstack justify-content-center gap-2 mt-5 mb-5">
    <button type="button" class="icon-link">
      <i class="ph ph-arrow-bend-up-left"></i>
      Reply
    </button>
    <button type="button" class="icon-link">
      <i class="ph ph-arrow-bend-double-up-left"></i>
      Reply All
    </button>
    <button type="button" class="icon-link">
      <i class="ph ph-arrow-bend-up-right"></i>
      Forward
    </button>
  </div>
</div>
