<aside id="sidebar-secondary">
  <button type="button" class="sidebar-close">
  	<span>Close Sidebar</span>
  </button>

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      <button class="icon ms-n2" id="sidebar-back">
        <i class="ph ph-arrow-left fs-4"></i>
        <span class="visually-hidden">Back</span>
      </button>

      <h2 class="sidebar-title">Mail</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-pen"></i>
        Compose Mail
      </button>
    </div>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Mailboxes</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="ph ph-tray"></i>Inbox</a
      >
      <a class="nav-link" href="#"><i class="ph ph-star"></i>Starred</a>
      <a class="nav-link" href="#"><i class="ph ph-clock"></i>Scheduled</a>
      <a class="nav-link" href="#"><i class="ph ph-flag"></i>Important</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-paper-plane-right"></i>Sent</a
      >
      <a class="nav-link" href="#"><i class="ph ph-file-dashed"></i>Draft</a>
      <a class="nav-link" href="#"><i class="ph ph-info"></i>Spam</a>
      <a class="nav-link" href="#"><i class="ph ph-trash"></i>Trash</a>
    </nav>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Categories</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-success"></i>Promotions</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-warning"></i>Social</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-primary"></i>Work</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-danger"></i>Updates</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-purple"></i>Forums</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-info"></i>Conversations</a
      >
    </nav>
  </div>
</aside>
