<aside class="w-md-72 w-lg-96 d-flex flex-column h-100" data-la-block="list">
	<div class="flex-grow-1" data-simplebar>
		<div class="content-header">
			<button type="button" class="icon ph ph-list me-2 ms-n2.5 d-xl-none" id="sidebar-secondary-toggle">
				<span class="visually-hidden">Toggle Options</span>
			</button>

			<div class="text-body-emphasis">All Contacts</div>

			<button type="button" class="icon ph ph-sort-ascending ms-auto me-n2">
				<span class="visually-hidden">Sort</span>
			</button>
		</div>
	</div>
</aside>
