<div class="card mw-600 w-100 mx-auto p-2" id="list-row-preview">
  <div class="text-center rounded p-5">
    <img
      src="./img/contacts/3.jpg"
      class="avatar mx-auto mb-4"
      alt=""
      style="--squircle-size: 8rem"
    />

    <h2 class="fs-4 fw-bold text-body-emphasis">Andre Allison</h2>
    <div class="text-center">Investor Implementation Analyst, Harvey Inc</div>
  </div>

  <div class="p-5">
    <div class="d-flex align-items-start gap-5 border-bottom pb-4 mb-4">
      <i class="avatar avatar-lg bg-theme-200 ph ph-device-mobile-camera"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Mobile Phone</div>
        <div class="text-body-emphasis fw-medium">303-570-0941</div>
      </div>

      <button type="button" class="icon ph ph-clipboard ms-n6">
        <span class="visually-hidden">Copy</span>
      </button>
    </div>

    <div class="d-flex align-items-start gap-5 border-bottom pb-4 mb-4">
      <i class="avatar avatar-lg bg-theme-200 ph ph-phone-call"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Home Phone</div>
        <div class="text-body-emphasis fw-medium">543-769-0002</div>
      </div>

      <button type="button" class="icon ph ph-clipboard ms-n6">
        <span class="visually-hidden">Copy</span>
      </button>
    </div>

    <div class="d-flex align-items-start gap-5 border-bottom pb-4 mb-4">
      <i class="avatar avatar-lg bg-theme-200 ph ph-envelope"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Email Address</div>
        <div class="text-body-emphasis fw-medium">andre-allison@allison.hn</div>
      </div>

      <button type="button" class="icon ph ph-clipboard ms-n6">
        <span class="visually-hidden">Copy</span>
      </button>
    </div>

    <div class="d-flex align-items-start gap-5 border-bottom pb-4 mb-4">
      <i class="avatar avatar-lg bg-theme-200 ph ph-chat-centered-text"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Message</div>
        <div class="text-body-emphasis fw-medium">@andreallison</div>
      </div>

      <button type="button" class="icon ph ph-clipboard ms-n6">
        <span class="visually-hidden">Copy</span>
      </button>
    </div>

    <div class="d-flex align-items-start gap-5 border-bottom pb-4 mb-4">
      <i class="avatar avatar-lg bg-theme-200 ph ph-house"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Address</div>
        <div class="text-body-emphasis fw-medium">866 Romrog Way, Curtis, 69025, Nebraska</div>
      </div>

      <button type="button" class="icon ph ph-clipboard ms-n6">
        <span class="visually-hidden">Copy</span>
      </button>
    </div>

    <div class="d-flex align-items-start gap-5">
      <i class="avatar avatar-lg bg-theme-200 ph ph-note"></i>

      <div class="flex-grow-1">
        <div class="text-body-secondary fs-7 mb-1">Notes</div>
        <div class="text-body-emphasis">
          Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat
          porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod
          semper. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac
          facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        </div>
      </div>
    </div>
  </div>
</div>
