<aside id="sidebar-secondary">
  {{> _sidebar-close }}

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      {{> _sidebar-back}}

      <h2 class="sidebar-title">Contacts</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-user-circle-plus"></i>
        Create New
      </button>
    </div>

    <div class="fs-7 text-body-secondary mb-3 lh-1">My Contacts</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="ph ph-user-rectangle"></i>All Contacts</a
      >
      <a class="nav-link" href="#"><i class="ph ph-heart"></i>Favourites</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-clock"></i>Frequently Contacted</a
      >
      <a class="nav-link" href="#"><i class="ph ph-users"></i>Duplicates</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-trash"></i>Deleted Contacts</a
      >
    </nav>

    <div class="fs-7 text-body-secondary mb-3 lh-1">Groups</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-success"></i>Most Important</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-warning"></i>Work</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-primary"></i>Family</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-danger"></i>Projects</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-folder text-purple"></i>Recent Leads</a
      >
    </nav>

    <div class="fs-7 text-body-secondary mb-3 lh-1">Actions</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link" href="#"><i class="ph ph-upload-simple"></i>Import</a>
      <a class="nav-link" href="#"><i class="ph ph-download"></i>Export</a>
      <a class="nav-link" href="#"><i class="ph ph-printer"></i>Print</a>
    </nav>
  </div>
</aside>
