<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4">
	<div class="col">
		<div class="card p-5 text-body-emphasis lh-1 fw-medium">
			<div class="d-flex align-items-start">
				<div class="flex-grow-1 fs-4 me-2 text-primary fw-medium">43283</div>
				<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					2.23%
				</div>
			</div>
			Orders Completed
		</div>
	</div>

	<div class="col">
		<div class="card p-5 text-body-emphasis lh-1 fw-medium">
			<div class="d-flex align-items-start">
				<div class="flex-grow-1 fs-4 me-2 text-success fw-medium">$324,091</div>
				<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					3.47%
				</div>
			</div>
			Total in Revenue
		</div>
	</div>

	<div class="col">
		<div class="card p-5 text-body-emphasis lh-1 fw-medium">
			<div class="d-flex align-items-start">
				<div class="flex-grow-1 fs-4 me-2 text-warning fw-medium">4532</div>
				<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					5.32%
				</div>
			</div>
			Completed Purchases
		</div>
	</div>

	<div class="col">
		<div class="card p-5 text-body-emphasis lh-1 fw-medium">
			<div class="d-flex align-items-start">
				<div class="flex-grow-1 fs-4 me-2 text-danger fw-medium">2091</div>
				<div class="badge bg-danger rounded-pill float-end fs-8 text-danger-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-down fs-6 me-1"></i>
					0.98%
				</div>
			</div>
			Return Requests
		</div>
	</div>
</div>
