<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-2">
			<h5 class="card-title mb-0 flex-grow-1">Top Products</h5>

			<div class="fs-7 text-danger align-items-center me-3 d-none d-sm-flex">
				<i class="ph ph-arrow-circle-up fs-4 me-1"></i>
				8.07%
			</div>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
				<a href="" class="icon ph ph-app-window"></a>
			</div>
		</div>

		<div id="top-products" class="mb-n3"></div>
	</div>
</div>
