//---------------------------------------
// Misc
//---------------------------------------
.map-common {
	.jvm-region {
		&[fill="INITIAL_FILL"] {
			fill: var(--bs-map-common-fill);
		}

		&:not([fill="INITIAL_FILL"]) {
			fill: var(--bs-map-common-active-fill);
		}
	}
}

//---------------------------------------
// Photos
//---------------------------------------
.photos-check {
	&.form-check-input[type="checkbox"] {
		&:not(:checked) {
			border-color: $white;
			background-color: transparent;
		}
	}
}

.photos-item {
	&:hover {
		.photos-check {
			display: block !important;
		}
	}
}

.photos-highlight {
	&::before {
		content: "";
		left: 0;
		top: 0;
		border-radius: $border-radius-lg;
		position: absolute;
		width: 100%;
		height: 50%;
		background: linear-gradient(180deg, rgba($black, 0.5) 0%, rgba($black, 0) 100%);
	}
}

#content {
	&:has(.photos-check:checked) {
		.sidebar-toggle {
			display: none !important;
		}
	}
}

//---------------------------------------
// Todo lists
//---------------------------------------
.todo-checkbox {
	& ~ label {
		transition: color 300ms;
	}
	&:checked {
		& ~ * {
			text-decoration: line-through;
			opacity: 0.75;
		}
	}
}

//---------------------------------------
// Messages
//---------------------------------------
.messages-reply {
	position: sticky;
	bottom: 0;
	background-color: var(--bs-body-bg);
	padding-bottom: 0.65rem;
	z-index: 5;
}

.messages-reply-inner {
	background-color: $card-bg;
	padding: 0.5rem;
	padding-top: 0;
	border-bottom-left-radius: $border-radius-xl;
	border-bottom-right-radius: $border-radius-xl;

	.quill {
		background-color: var(--bs-theme-100);
		border-radius: $border-radius-lg;
		border: 2px solid transparent;

		&:focus-within {
			background-color: $card-bg;
			border-color: var(--bs-border-color);
		}
	}
}

