<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-success bg-success d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-paper-plane-tilt fs-4"></i>
				</div>

				Sent vs Not Sent
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="chart mb-5">
			<canvas id="chart-sent-not-sent"></canvas>
		</div>

		<ul class="chart-legends">
			<li>
				<i class="bg-warning"></i>
				Sent
			</li>
			<li>
				<i class="bg-success"></i>
				Not Sent
			</li>
		</ul>
	</div>
</div>
