<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-7">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-warning-emphasis bg-warning d-none d-sm-grid" style="--bs-bg-opacity: 0.2">
					<i class="ph ph-alarm fs-4"></i>
				</div>

				Overdue Projects
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div id="list-overdue-projects"></div>
	</div>
</div>
