<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4 lh-1">
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-warning bg-warning d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-list-checks fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-warning">687</div>

					<div
						class="badge bg-danger rounded-pill fs-8 ms-auto text-danger-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-down fs-6 me-1"></i>
						2.01%
					</div>
				</div>
				Total Projects
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-success bg-success d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-receipt fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-success">$284.92K</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						8.98%
					</div>
				</div>
				Total Expenses
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-primary bg-primary d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-currency-circle-dollar fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-primary">28.35%</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						13.45%
					</div>
				</div>
				Budget Spent
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row gap-4">
			<div class="avatar avatar-lg text-info bg-info d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
				<i class="ph ph-piggy-bank fs-2"></i>
			</div>

			<div class="flex-grow-1 text-body-emphasis">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-4 me-2 fw-medium mb-1 text-info">$982.12K</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto text-success-emphasis d-inline-flex align-items-center mt-n1"
						style="--bs-bg-opacity: 0.1"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						0.54%
					</div>
				</div>
				Total Budget
			</div>
		</div>
	</div>
</div>
