<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-7">
			<h5 class="card-title m-0 d-flex align-items-center flex-grow-1 gap-3">
				<div class="avatar avatar-md text-success bg-success d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-ticket fs-4"></i>
				</div>

				Tickets Reopened
			</h5>

			<div class="mt-n2 me-n1">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="row row-cols-3 g-2 mb-5">
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 text-body-emphasis">202</div>
					<div class="fs-7 text-body-secondary">Reopened</div>
				</div>
			</div>
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 text-body-emphasis">9.85%</div>
					<div class="fs-7 text-body-secondary">Percentage</div>
				</div>
			</div>
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 text-success d-flex align-items-center">
						3.54%
						<i class="ph ph-arrow-circle-up ms-1"></i>
					</div>
					<div class="fs-7 text-body-secondary">vs. Previous</div>
				</div>
			</div>
		</div>

		<div class="chart chart-sm mb-1">
			<canvas id="chart-tickets-reopened"></canvas>
		</div>
	</div>
</div>
