<div class="header">
  {{> _sidebar-toggle }}

  <div class="search-field search-field-kbd">
    <i class="ph ph-magnifying-glass fs-5"></i>
    <input type="text" class="form-control" placeholder="Search Files..." />
  </div>

  <i class="ms-auto"></i>

  <div class="d-flex me-3 gap-1.5">
    <button type="button" class="icon ph ph-check-circle">
      <span class="visually-hidden">Select</span>
    </button>
    <button type="button" class="icon ph ph-rows d-none d-sm-flex">
      <span class="visually-hidden">List view</span>
    </button>
    <button type="button" class="icon ph ph-squares-four d-none d-sm-flex">
      <span class="visually-hidden">Grid View</span>
    </button>
    <button type="button" class="icon ph ph-sort-ascending">
      <span class="visually-hidden">Sort</span>
    </button>
  </div>
</div>
