<div class="card w-lg-72 flex-shrink-0 mb-2 mt-32 mt-lg-0">
  <div class="mb-n1 text-center mt-n24 mt-lg-0 p-2">
    <img class="w-48 w-lg-100 rounded-2" src="./img/contacts/2.jpg" alt="" />
  </div>

  <div class="p-5">
    <div class="d-flex align-items-start mb-5">
      <div class="flex-grow-1">
        <h2 class="fs-5 text-body-emphasis mb-1">Malinda Andrew Hollaway</h2>
        <div class="fs-7 text-body-secondary">@malindahollway</div>
      </div>
      <i class="w-2 h-2 mt-1 rounded-circle bg-success"></i>
    </div>

    <p class="mb-5">Full stack developer, swimmer, blogging enthusiast, steak lover, Youtuber...</p>

    <ul class="list-unstyled vstack gap-4 m-0">
      <li class="d-flex align-items-center">
        <i class="ph ph-rss fs-4 me-3"></i>
        Followed by 43 People
      </li>
      <li class="d-flex align-items-center">
        <i class="ph ph-suitcase-simple fs-4 me-3"></i>
        Developer at ABX Inc.
      </li>
      <li class="d-flex align-items-center">
        <i class="ph ph-house fs-4 me-3"></i>
        Lives in St. Lucia
      </li>
      <li class="d-flex align-items-center">
        <i class="ph ph-map-pin-line fs-4 me-3"></i>
        From New Jersey
      </li>
      <li class="d-flex align-items-center">
        <i class="ph ph-student fs-4 me-3"></i>
        Went to University of Newcastle
      </li>
    </ul>
  </div>
</div>
