<aside id="sidebar-secondary">
  {{> _sidebar-close }}

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      {{> _sidebar-back}}

      <h2 class="sidebar-title">Photos</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-upload"></i>
        Upload Photo
      </button>
    </div>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Library</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="ph ph-images"></i>Everything</a
      >
      <a class="nav-link" href="#"><i class="ph ph-video"></i>Videos</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-share-network"></i>Sharing</a
      >
      <a class="nav-link" href="#"><i class="ph ph-heart"></i>Favourites</a>
      <a class="nav-link" href="#"><i class="ph ph-trash"></i>Deleted Photos</a>
    </nav>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Albums</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link" href="#"
        ><i class="ph ph-image-square"></i>Textures & Patterns</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-image-square"></i>Business & Work</a
      >
      <a class="nav-link" href="#"><i class="ph ph-image-square"></i>Fashion</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-image-square"></i>Food & Drink</a
      >
      <a class="nav-link" href="#"
        ><i class="ph ph-image-square"></i>Arts & Culture</a
      >
      <a class="nav-link" href="#"><i class="ph ph-image-square"></i>Travel</a>
      <a class="nav-link" href="#"
        ><i class="ph ph-image-square"></i>Architecture</a
      >
    </nav>
  </div>
</aside>
