<div
  class="modal fade"
  id="todo-list-details"
  tabindex="-1"
  aria-labelledby="todoListDetails"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-items-start p-8 pb-0">
        <div class="flex-grow-1">
          <h3 class="fs-5">Labore fugiat laboris veniam aliqua anim magna enim</h3>
          <div class="mb-3">
            Exercitation consectetur proident enim cillum qui Lorem tempor. Deserunt officia eiusmod
            elit anim laboris esse labore.
          </div>

          <div class="d-flex flex-wrap gap-1">
            <span class="border d-flex align-items-center py-1.5 px-3 rounded fs-7">
              <i class="ph ph-calendar-blank fs-6 me-2"></i>
              10/10/2023
            </span>
            <span class="border d-flex align-items-center py-1.5 px-3 rounded fs-7">
              <i class="ph ph-clock fs-6 me-2"></i>
              21:43
            </span>
            <span class="border d-flex align-items-center py-1.5 px-3 rounded fs-7">
              <i class="ph ph-tag-chevron fs-6 me-2"></i>
              Marketing
            </span>
          </div>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-8">
        <ul class="nav nav-pills nav-scroll mb-6 fw-medium ms-n2" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="todo-sub-tab"
              data-bs-toggle="pill"
              data-bs-target="#todo-sub"
              type="button"
              role="tab"
              aria-controls="todo-sub"
              aria-selected="true"
            >
              Sub Tasks
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="todo-files-tab"
              data-bs-toggle="pill"
              data-bs-target="#todo-files"
              type="button"
              role="tab"
              aria-controls="todo-files"
              aria-selected="false"
            >
              Files
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="todo-comments-tab"
              data-bs-toggle="pill"
              data-bs-target="#todo-comments"
              type="button"
              role="tab"
              aria-controls="todo-comments"
              aria-selected="false"
            >
              Comments
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="todo-activity-tab"
              data-bs-toggle="pill"
              data-bs-target="#todo-activity"
              type="button"
              role="tab"
              aria-controls="todo-activity"
              aria-selected="false"
            >
              Activity
            </button>
          </li>
        </ul>
        <div class="tab-content mb-8" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="todo-sub"
            role="tabpanel"
            aria-labelledby="todo-sub-tab"
            tabindex="0"
          >
            <div class="border-bottom border-gray-200 fs-7 text-body-secondary mb-5 pb-2">
              Total 5 sub tasks
            </div>
            <div id="todo-sub-tasks"></div>
          </div>
          <div
            class="tab-pane fade"
            id="todo-files"
            role="tabpanel"
            aria-labelledby="todo-files-tab"
            tabindex="0"
          >
            <div class="border-bottom border-gray-200 fs-7 text-body-secondary mb-1 pb-2">
              Total 23 files
            </div>
            <div id="todo-attachments" class="ms-n3"></div>
          </div>
          <div
            class="tab-pane fade"
            id="todo-comments"
            role="tabpanel"
            aria-labelledby="todo-comments-tab"
            tabindex="0"
          >
            <div class="border border-gray-200 rounded p-5 text-center">
              <img class="w-16" src="./img/misc/coming-soon.svg" alt="Coming soon!" />
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="todo-activity"
            role="tabpanel"
            aria-labelledby="todo-activity-tab"
            tabindex="0"
          >
            <div class="border border-gray-200 rounded p-5 text-center">
              <img class="w-16" src="./img/misc/coming-soon.svg" alt="Coming soon!" />
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary w-100">Mark as completed</button>
      </div>
    </div>
  </div>
</div>
