<aside id="sidebar-secondary">
  <button type="button" class="sidebar-close">
  	<span>Close Sidebar</span>
  </button>

  <div class="sidebar-inner" data-simplebar>
    <div class="sidebar-header">
      <button class="icon ms-n2" id="sidebar-back">
        <i class="ph ph-arrow-left fs-4"></i>
        <span class="visually-hidden">Back</span>
      </button>

      <h2 class="sidebar-title">Todo Lists</h2>
    </div>

    <div class="sidebar-action d-none d-xl-block">
      <button class="btn btn-action">
        <i class="ph ph-plus"></i>
        Create New
      </button>
    </div>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Filters</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="ph ph-check-square-offset"></i>Everything</a
      >
      <a class="nav-link" href="#"><i class="ph ph-calendar-check"></i>Today</a>
      <a class="nav-link" href="#">
        <i class="ph ph-clock"></i>
        Upcoming
        <span class="badge">29</span>
      </a>
      <a class="nav-link" href="#"><i class="ph ph-flag"></i>Important</a>
      <a class="nav-link" href="#"><i class="ph ph-archive"></i>Archive</a>
      <a class="nav-link" href="#"><i class="ph ph-trash"></i>Deleted Lists</a>
    </nav>

    <div class="fs-7 text-body-secondary mb-2 lh-1">Lists</div>

    <nav class="nav nav-pills nav-pills-sidebar">
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Pending Emails
        <span class="badge">23</span>
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Leads
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Marketing
        <span class="badge">45</span>
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Pending Tests
        <span class="badge">20</span>
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Project Management
        <span class="badge">34</span>
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        App Development
        <span class="badge">12</span>
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Work
      </a>
      <a class="nav-link" href="#">
        <i class="ph ph-file-video"></i>
        Personal
      </a>
    </nav>
  </div>
</aside>
