<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-6">
			<h5 class="m-0 align-items-center card-title d-flex flex-grow-1 gap-3">
				<div class="avatar avatar-md text-success bg-success d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="fs-4 ph ph-clock"></i>
				</div>
				Average Visit Duration
			</h5>

			<div class="d-flex mt-n2 me-n2">
				<a class="icon ph ph-info" href=""></a>
			</div>
		</div>

		<div class="chart mb-5">
			<canvas id="chart-visit-duration"></canvas>
		</div>

		<ul class="chart-legends">
			<li>
				<i class="bg-warning"></i>
				<span>Current month</span>
			</li>
			<li>
				<i class="bg-success"></i>
				<span>Last month</span>
			</li>
		</ul>
	</div>
</div>
