<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-8">
			<h5 class="card-title m-0 d-flex align-items-center gap-3 flex-grow-1">
				<div class="avatar avatar-md text-info bg-info d-none d-sm-grid" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-devices fs-4"></i>
				</div>

				Device Sessions
			</h5>

			<div class="d-flex mt-n2 me-n2">
				<a class="icon ph ph-info" href=""></a>
			</div>
		</div>

		<div id="list-device-sessions"></div>

		<ul class="chart-legends">
			<li>
				<i class="bg-info"></i>
				Desktop
			</li>
			<li>
				<i class="bg-purple"></i>
				Mobile
			</li>
			<li>
				<i class="bg-warning"></i>
				Tablet
			</li>
		</ul>
	</div>
</div>
